<form action="/cart" method="post">
    <button type="submit" class="cart-button"><i class="gg-shopping-cart"></i></button>
    
    <input type="hidden" name="productId" value="<%= product._id %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
</form>